# Terraform directories and files
**/.terraform/
**/*.tfstate
**/*.tfstate.backup
**/.terraform.lock.hcl

# Environment files
**/.env

# Credentials and sensitive files
**/creds
**/auth
**/htaccess

# Kubernetes-related files
**/k8s
**/azurek8s*
**/values.yaml

# Temporary and to-do files
**/ToDo

# Terraform variable files
**/global_*.tfvars
